[submodule "mod/assign/submission/physical"]
	path = mod/assign/submission/physical
	url = https://github.com/roelmann/glos-moodle-assignsubmission_physical.git
[submodule "local/barcode"]
	path = local/barcode
	url = https://github.com/roelmann/glos-moodle-local_barcode.git
[submodule "blocks/turnitin"]
	path = blocks/turnitin
	url = https://github.com/turnitin/moodle-block_turnitin.git
[submodule "plagiarism/turnitin"]
	path = plagiarism/turnitin
	url = https://github.com/turnitin/moodle-plagiarism_turnitin.git
[submodule "report/myfeedback"]
	path = report/myfeedback
	url = https://github.com/jgramp/moodle-report_myfeedback.git
[submodule "theme/uognynteen"]
	path = theme/uognynteen
	url = https://github.com/roelmann/glos-moodle-theme_uognynteen.git
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll.git
[submodule "course/format/onetopic"]
	path = course/format/onetopic
	url = https://github.com/davidherney/moodle-format_onetopic.git
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjb2048/moodle-format_grid.git
[submodule "mod/checklist"]
	path = mod/checklist
	url = https://github.com/davosmith/moodle-checklist.git
[submodule "blocks/checklist"]
	path = blocks/checklist
	url = https://github.com/davosmith/moodle-block_checklist.git
[submodule "grade/export/checklist"]
	path = grade/export/checklist
	url = https://github.com/davosmith/moodle-grade_checklist.git
[submodule "blocks/completion_progress"]
	path = blocks/completion_progress
	url = https://github.com/deraadt/moodle-block_completion_progress.git
[submodule "blocks/course_contacts"]
	path = blocks/course_contacts
	url = https://github.com/roelmann/moodle-block_course_contacts.git
[submodule "blocks/quickfindlist"]
	path = blocks/quickfindlist
	url = https://github.com/marxjohnson/moodle-block_quickfindlist.git
[submodule "blocks/quickcourselist"]
	path = blocks/quickcourselist
	url = https://github.com/marxjohnson/moodle-block_quickcourselist.git
[submodule "blocks/course_contents"]
	path = blocks/course_contents
	url = https://github.com/mudrd8mz/moodle-block_course_contents.git
[submodule "blocks/configurable_reports"]
	path = blocks/configurable_reports
	url = https://github.com/jleyva/moodle-block_configurablereports.git
[submodule "report/customsql"]
	path = report/customsql
	url = https://github.com/moodleou/moodle-report_customsql.git
[submodule "lib/editor/atto/plugins/fontsize"]
	path = lib/editor/atto/plugins/fontsize
	url = https://github.com/andrewnicols/moodle-atto_fontsize.git
[submodule "lib/editor/atto/plugins/htmlplus"]
	path = lib/editor/atto/plugins/htmlplus
	url = https://github.com/andrewnicols/moodle-atto_htmlplus.git
[submodule "lib/editor/atto/plugins/styles"]
	path = lib/editor/atto/plugins/styles
	url = https://github.com/moodleuulm/moodle-atto_styles.git
[submodule "lib/editor/atto/plugins/morefontcolors"]
	path = lib/editor/atto/plugins/morefontcolors
	url = https://github.com/ndunand/moodle-atto_morefontcolors.git
[submodule "lib/editor/atto/plugins/fontfamily"]
	path = lib/editor/atto/plugins/fontfamily
	url = https://github.com/projectestac/moodle-atto_fontfamily.git
[submodule "lib/editor/atto/plugins/morebackcolors"]
	path = lib/editor/atto/plugins/morebackcolors
	url = https://github.com/University-of-Strathclyde-LTE-Team/moodle-atto_morebackcolors.git
[submodule "lib/editor/atto/plugins/snippet"]
	path = lib/editor/atto/plugins/snippet
	url = https://github.com/justinhunt/moodle-atto_snippet.git
[submodule "lib/editor/atto/plugins/templates"]
	path = lib/editor/atto/plugins/templates
	url = https://github.com/sharpchi/moodle-atto_templates.git
[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = https://github.com/lsuits/block_quickmail.git
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler.git
[submodule "mod/lightboxgallery"]
	path = mod/lightboxgallery
	url = https://github.com/netspotau/moodle-mod_lightboxgallery.git
[submodule "mod/attendanceregister"]
	path = mod/attendanceregister
	url = https://github.com/CinecaElearning/moodle-mod_attendanceregister.git
[submodule "mod/groupselect"]
	path = mod/groupselect
	url = https://github.com/BLC-HTWChur/moodle-mod_groupselect.git
[submodule "local/cohortrole"]
	path = local/cohortrole
	url = https://github.com/paulholden/moodle-local_cohortrole.git
[submodule "enrol/groupsync"]
	path = enrol/groupsync
	url = https://github.com/moodlehq/moodle-enrol_groupsync.git
[submodule "auth/mcae"]
	path = auth/mcae
	url = https://github.com/danmarsden/moodle-auth_mcae.git
[submodule "admin/tool/editrolesbycap"]
	path = admin/tool/editrolesbycap
	url = https://github.com/moodleou/moodle-tool_editrolesbycap.git
[submodule "auth/saml2"]
	path = auth/saml2
	url = https://github.com/CatalystIT-AU/moodle-auth_saml2.git
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = https://github.com/danmarsden/moodle-block_attendance.git
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
[submodule "mod/assign/submission/mahara"]
	path = mod/assign/submission/mahara
	url = https://github.com/MaharaProject/moodle-assignsubmission_mahara.git
[submodule "mod/reengagement"]
	path = mod/reengagement
	url = https://github.com/catalyst/moodle-mod_reengagement.git
[submodule "mod/bigbluebuttonbn"]
	path = mod/bigbluebuttonbn
	url = https://github.com/blindsidenetworks/moodle-mod_bigbluebuttonbn.git
[submodule "mod/hvp"]
	path = mod/hvp
	url = https://github.com/h5p/h5p-moodle-plugin.git
[submodule "mod/aspirelists"]
	path = mod/aspirelists
	url = https://github.com/roelmann/glos-moodle-mod_aspirelists.git
[submodule "mod/assign/submission/estream"]
	path = mod/assign/submission/estream
	url = https://github.com/roelmann/glos-moodle-assignsubmission_estream.git
[submodule "filter/planetestream"]
	path = filter/planetestream
	url = https://github.com/roelmann/glos-moodle-filter_planetestream.git
[submodule "lib/editor/atto/plugins/planetestream"]
	path = lib/editor/atto/plugins/planetestream
	url = https://github.com/roelmann/glos-moodle-atto_planetestream.git
[submodule "lib/editor/tinymce/plugins/planetestream"]
	path = lib/editor/tinymce/plugins/planetestream
	url = https://github.com/roelmann/glos-moodle-tinymce_planetestream.git
[submodule "filter/estreamauth"]
	path = filter/estreamauth
	url = https://github.com/roelmann/glos-moodle-filter_estreamauth.git
[submodule "local/o365"]
	path = local/o365
	url = https://github.com/microsoft/moodle-local_o365.git
[submodule "auth/oidc"]
	path = auth/oidc
	url = https://github.com/microsoft/moodle-auth_oidc.git
[submodule "repository/office365"]
	path = repository/office365
	url = https://github.com/microsoft/moodle-repository_office365.git
[submodule "block/microsoft"]
	path = block/microsoft
	url = https://github.com/microsoft/moodle-block_microsoft.git
[submodule "filter/oembed"]
	path = filter/oembed
	url = https://github.com/PoetOS/moodle-filter_oembed.git
[submodule "theme/boost_o365teams"]
	path = theme/boost_o365teams
	url = https://github.com/microsoft/moodle-theme_boost_o365teams.git
[submodule "admin/tool/jisc_xapi"]
	path = admin/tool/jisc_xapi
	url = https://github.com/roelmann/glos-moodle-admin_tool_jisc_xapi.git
