[submodule "mod/assign/submission/physical"]
	path = mod/assign/submission/physical
	url = https://github.com/roelmann/glos-moodle-assignsubmission_physical.git
[submodule "local/barcode"]
	path = local/barcode
	url = https://github.com/roelmann/glos-moodle-local_barcode.git
[submodule "blocks/turnitin"]
	path = blocks/turnitin
	url = https://github.com/turnitin/moodle-block_turnitin.git
[submodule "plagiarism/turnitin"]
	path = plagiarism/turnitin
	url = https://github.com/turnitin/moodle-plagiarism_turnitin.git
[submodule "report/myfeedback"]
	path = report/myfeedback
	url = https://github.com/jgramp/moodle-report_myfeedback.git
[submodule "theme/uognynteen"]
	path = theme/uognynteen
	url = https://github.com/roelmann/glos-moodle-theme_uognynteen.git
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll.git
[submodule "course/format/onetopic"]
	path = course/format/onetopic
	url = https://github.com/davidherney/moodle-format_onetopic.git
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjb2048/moodle-format_grid.git
